node_modules/
playwright-report/
test-results/
playwright/.cache/
.gocache/
*.wasm
test-output*.txt
benchmark/bin/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
testapp/main
testapp/*.wasm
testapp/static/bin/*.wasm
static/bin/*.wasm
